// color
$colorMain: #323231;
$colorSec: #eee;
$colorAll: #aaa;
$colorLect:#b0dcf0;
$colorFound: #eba9bf;
$colorEvent: #b1f9b4;
$colorMv: #357df3;

// font-size
$fontSize1: 18px;
$fontSize2: 30px;
$fontSize3: 22px;
$fontSize4: 18px;
$fontSize5: 16px;
$fontSize6: 13px;
$textDeco1: none;

//float